* {
    margin: 0;
    padding: 0;
}
.body {
    background-color: rgb(240, 238, 238) !important;
}
.col {
    border-radius: 25px;
    background-color: rgba(224, 224, 224, 0.75); 
}
.row {
    margin: 100px;
}
.btn-floating {
    width: 100px !important;
    height: 100px !important;
}
.container {
    border-radius: 25px;
    background-color: rgb(224, 224, 224, 0.75);
    padding: 80px;
    text-align: center;
}
.garfield {
    align-self: center;
    text-align: center;
    border-radius: 25px;
    background-color: rgb(224, 224, 224, 0.75);
    margin: 75px;
}
